<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/styles.css" />
    <title>Ejemplo</title>
  </head>
  <body>
    <nav>
      <a href="#">
        <img class="logo" src="https://placehold.co/60x40" alt="logo" />
      </a>
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="./dani.html">Dani</a></li>
        <li><a href="#">Info</a></li>
        <li><a href="#">Contácto</a></li>
      </ul>
    </nav>

    <!-- <div class="container">
      <div>
        <h1>Quien soy</h1>
        <h1>Que hago</h1>
        <h1>Como ayudo?</h1>
        <p>Este es un ejemplo de una página web con un menú de navegación.</p>
      </div>
    </div> -->

    <div class="wrapper">
      <div class="card w-90">
        <div class="card-image">
          <img src="https://placehold.co/500x250" alt="imagen" />
        </div>
        <div class="card-title">
          <h2>¿Quienes somos?</h2>
        </div>
        <div class="card-text ">
          <p>
            Estos puntos son los que se pueden utilizar para explicar quien eres, que haces y como puedes ayudar a los demás.
            <ul class="text-left">
              <li>¿Quienes somos? - Who we Are
                <ul>
                  <li>
                    Se puede utilizar el logo de la marca para responder a la pregunta, usando el logo en el navbar , ya muestras quien eres, 
                    de se run navbar sin logo, se podria colocar en este placeholder o en un lugar donde el usuario pueda verlo de forma
                    explicita.
                  </li>
                </ul>
              </li>
              <li>¿Que hacemos? - What we do
                <ul>
                  <li>
                    Si eres fabricante de productos, puedes colocar una imagen de los productos que fabricas, o si eres un servicio, puedes
                    colocar una imagen de los servicios que ofreces.
                  </li>
                </ul>
              </li>
              <li>¿Como ayudamos?- How could I help you
                <ul>
                  <li>
                   Servicio o producto que ofreces 
                  </li>
                </ul>
              </li>
            </ul>
          </p>
        </div>
        <div class="card-link"></div>
      </div>
      
    </div>
    <div class="wrapper-2">
      <div class="card w-90">
        <div class="card-image">
          <img src="https://placehold.co/500x250" alt="imagen" />
        </div>
        <div class="card-title">
          <h2>BoluTech Academy</h2>
        </div>
        <div class="card-text ">
          <h3>
            Aprendizaje en línea
          </h3>
          <p class="text-center">
            Adquiere nuevas habilidades y conocimientos para mejorar tu vida personal y profesional.
          </p>
        </div>
        <div class="card-link">
          <a href="#">Suscribete</a>
        </div>
      </div>
    </div>
  </body>
</html>

<style>
  body {
    background-image: url("./assets/img/login-form/transparent_plasttic_texture.png");
  }
  .wrapper {
    margin-left: 10rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .wrapper-2 {
    margin-left: 10rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
</style>
